extends layout/index
block speakerslist
  include includes/speakerslist
block content    
  #home.container
    .row
      .col-sm-8
        .maincontent
          article.article
            h1.article-title Who are we?
            p
              | The Color of Stolen Heart Provides a Platform to all the artists out there to showcase there work.
              | We exhibits, and selects approximately 200 distinct pieces of contemporary art for display in their collective
              | exhibit. In addition, 12 individuals are honored as Featured Artists - each being granted his or her own exhibit
              | hall to display entire collections or themed pieces.
            p
              | Each Featured Artist has an opportunity to speak at one of our meetups and share his or her vision, perspective,
              | and techniques with attendees on a more personal level than at our large conference. It is truly an honor to
              | build a base for these Featured Artists who will go on to brilliant
              | careers in art.
          // article
          article.article
            h1.article-title Get Busy!
            p
              | 
              a(href='https://github.com/buggyCoder007/furry-goggles') find us on github
              | . If you're in Instagram, you can also 
              a(href='https://www.instagram.com/color_of_the_stolen_heart')  join our Instagram group
              | .

      include includes/sidebar